<div class="main-container">
    <div class="">
        <app-custom-input-box *ngFor="let item of statsToShow" [label]="item + ':'"></app-custom-input-box>
    </div>
    <div class="wounds">
        <span class="wounds-text-top">-1 -2 -3 INCAP -2 -1</span>
        <div class="buttons">
                <input type="radio">
                <input type="radio">
                <input type="radio">
                <input type="radio">
                <input type="radio">
                <input type="radio">
        </div>
        <span class="wounds-text-bottom">Wounds Fatigue</span>
    </div>
</div>