<div class="main-container">
    <div class="rows">
        <div class="row">
            <span class="label">Name:</span>
            <textarea #namecontent></textarea> <br>
        </div>
        <div class="row">
            <span class="label">Race:</span>
            <textarea #racecontent></textarea> <br>
        </div>
        <div class="row">
            <span class="label">Description:</span>
            <textarea #descriptioncontent></textarea> <br>
        </div>
        <div class="row">
            <span class="label">Bennies:</span>
            <textarea #benniescontent></textarea> <br>
        </div>
    </div>
    <div class="wounds">
        <span class="wounds-text-top">-1 -2 -3 INCAP -2 -1</span>
        <div class="buttons">
            <div class="wound-buttons" #woundbuttons>
                <input type="checkbox" [(ngModel)]="woundsStates[0]" (change)="validateWound(0)">
                <input type="checkbox" [(ngModel)]="woundsStates[1]" (change)="validateWound(1)">
                <input type="checkbox" [(ngModel)]="woundsStates[2]" (change)="validateWound(2)">
            </div>
            <div class="incapacitated-button">
                <input type="checkbox" name="incapacitated" #incapacitated>
            </div>
            <div class="fatigue-buttons">
                <input type="checkbox" [(ngModel)]="fatigueStates[0]" (change)="validateFatigue(0)">
                <input type="checkbox" [(ngModel)]="fatigueStates[1]" (change)="validateFatigue(1)">
            </div>
        </div>
        <span class="wounds-text-bottom">Wounds Fatigue</span>
    </div>
    <button (click)="requestStuff()">request</button>
    <button (click)="saveStuff()">save</button>
</div>