<div class="main">
    <div class="category">
        <span>Hindrances</span>
        <div *ngFor="let item of hindrances; let i = index; trackBy: trackByIndex" class="row">
            <textarea [(ngModel)]="hindrances[i]"></textarea>
        </div>
    </div>

    <div class="category">
        <span>Edges</span>
        <div *ngFor="let item of edges; let i = index; trackBy: trackByIndex" class="row">
            <textarea [(ngModel)]="edges[i]"></textarea>

        </div>

        <div class="category">
            <span>Advances</span>
            <div *ngFor="let item of advances; let i = index; trackBy: trackByIndex" class="row">
                <textarea [(ngModel)]="advances[i]"></textarea>

            </div>
        </div>