<div class="main">
    <div class="category">
        <span>Hindrances</span>
        <app-custom-input-box-underline *ngFor="let hindrance of hindrances"></app-custom-input-box-underline>
    </div>

    <div class="category">
        <span>Edges</span> 
        <app-custom-input-box-underline *ngFor="let edge of edges"></app-custom-input-box-underline>
    </div>

    <div class="category">
        <span>Advances</span>
        <app-custom-input-box-underline *ngFor="let advance of advances"></app-custom-input-box-underline>
    </div>
</div>