.main {
    display: flex;
    flex-direction: column;
}

.category {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.category span {
    font-size: 30px;
}

.category input {
    border: none;
    border-bottom: 2px solid darkgray;
    background-color: transparent;
}

textarea {
    border: none;
    border-bottom: 2px solid darkgray;
    background-color: transparent;
    width: 250px;
    resize: none;
    font-size: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    margin-left: 10px;
}