<div class="super-row-1">
    <div class="column-1">
        <div class="row-1">
            <div class="main attributes">
                <app-attributes></app-attributes>
            </div>
            <div class="main name-stats">
                <app-name-stats></app-name-stats>
            </div>
        </div>
        <div class="row-2">
            <div class="main skills">
                <app-skills></app-skills>
            </div>
        </div>
    </div>
    <div class="column-2">
        <div class="main gear">
            <app-gear></app-gear>
        </div>
    </div>
    <div class="column-3">
        <div class="main edges">
            <app-edges-etc></app-edges-etc>
        </div>
    </div>
</div>